{% load static %}
{% load compress %}
{% compress css %}
    <link type="text/x-scss" href="{% static 'main/scss/rocket.scss' %}"     rel="stylesheet" media="screen">
{% endcompress %}

<!DOCTYPE html> 
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Moon Landing | A Wall of Memories</title>
        <meta property="og:title" content="Moon Landing | A Wall of Memories" />
        <meta name="author" content="Mark Taguiad" />
        <meta property="og:locale" content="en_US" />
        <meta name="description" content="Moon Landing | A Wall of Memories" />
        <meta property="og:description" content="Moon Landing | A Wall of Memories" />
        <link rel="canonical" href="" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Symbols" rel="stylesheet"> -->
        <meta property="og:url" content="http://jeremie.tagsdev.click/" />
        <meta property="og:site_name" content="Moon Landing | A Wall of Memories" />

        <title>Moon Landing | A Wall of Memories</title>
        <meta name="description" content="Moon Landing | A Wall of Memories">

        <script src="{% static 'main/js/rocket.js' %}" defer></script>    
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/img/fa.png' %}" />
        <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>

    </head>  
   
    <body>
        <div id="sky"></div>
        <!-- <div class="headercenter">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6MxYAYlnE8M1hTCOOrgzbH?utm_source=generator&theme=0" width="600" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div> -->
        <div class="flex-container custom-body">

            <div class="flex-child centerdiv">
                <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6MxYAYlnE8M1hTCOOrgzbH?utm_source=generator&theme=0" width="600" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
                <h2 class="tagsbody" style="font-size:20px;">Bulan ko,</h2>

                <p class="tagsbody">Ipapasyar kaman biit ditoy sarili ta nga law-ang.</p>
                <!-- <p class="tagsbody">&nbsp;</p> -->

                <p class="tagsbody">Maimimagine ko nga nakalugan ta spaceship ken paapan tan jay bulan.</p>
                
                <p class="tagsbody">Tas sabay ta pay agdingeg kin agijay kagustwan ta nga kanta.</p>

                <p class="tagsbody">Ayayaten ka ken ayan man makadandanunan ta adadtoy nak to latta abay mo.</p>
                
                <p class="tagsbody">Agkidem ta man paylang, biyag ko.</p>
            </div>
            
            <div class="flex-child centerdiv">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/62GjafihgvUdwqJrqBaxA0?utm_source=generator&theme=0" width="100%" height="410" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            
        </div>
        
        <footer class="footercenter">
            <!--<i class="fa fa-copyright tagstitle footer-margin" aria-hidden="true"></i> 2022  <a href=""><strong>Moon Landing</strong></a> -->
            <div class="tagstitle footer-margin tagsparagraph"> Copyright &copy; 2023 Moon Landing &#8212; All Rights Reserved. </div> 
            
        </footer>

        <!--<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
        <script async defer src="https://buttons.github.io/buttons.js"></script>  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>  
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script> 
        <script> new WOW().init(); </script>  
        <script> $(function () { $('[data-toggle="tooltip"]').tooltip() }) </script> 
        
    </body>
</html>